
// colors
$color-black: #1E1E1E;
$color-medium-grey: #C1C2D7;
$color-light-grey: #ECEEF8;
$color-red: #FF4002;
$color-white: #F9FAFF;

// font families
$font-family-signika: 'Signika', sans-serif;
$font-family-pt-serif: 'PT Serif', sans-serif;

// font sizes
$font-size-title: 2.3rem; // 55px
$font-size-subtitle: 1.75rem; // 42px
$font-size-title-caption: 1.33rem; // 32px
$font-size-default: 1rem; // 24px
$font-size-small: 0.75rem; // 18px

// breakpoints
$media-breakpoint-min-s: 576px;
$media-breakpoint-min-m: 768px;
$media-breakpoint-min-l: 992px;
$media-breakpoint-min-xl: 1200px;

// functions
@function width-from-img-width($img-width) {
  @return ($img-width * 0.05%);
}
