.case-study {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: inherit;
  }

  .case-study-title {
    position: relative;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    margin-bottom: 1.5rem;

    $border-definition: 2px solid $color-red;

    font-family: $font-family-signika;
    font-size: $font-size-subtitle;
    color: $color-black;

    &:before, &:after {
      content: "";

      position: absolute;
      width: 1em;
      height: 1em;
    }

    &:before {
      top: 0;
      left: 0;

      border-top: $border-definition;
      border-left: $border-definition;
    }

    &:after {
      right: 0;
      bottom: 0;

      border-right: $border-definition;
      border-bottom: $border-definition;
    }
  }
}

@media (min-width: $media-breakpoint-min-m) {
  .case-study {
    position: relative;
    display: inline-block;
    width: 22%;
    margin-right: 16%;

    vertical-align: top;

    .case-study-title {
      position: relative;
      height: 10rem;
    }

    .content {
      display: none;
    }

    &:last-child {
      margin-right: inherit;
    }
  }
}
